# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars

# Python
__pycache__/
*.pyc
.venv/

# Env
.env

# Lambda function output
output.json
lambda_functions/raw_validator/*.zip